#map{
    height: 400px;
    width: 100%;
}

.text-center {
    text-align: center;
}

.nav-wrapper, .footer-copyright {
    background-color: #ed4699;
}

.vertical-menu {
    width: 100%;
    height: 400px;
    overflow-y: auto;
  }
.footer-copyright {
    color: white;
}

